html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --body-color: #434343;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    font-size: 17px;
    line-height: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
/* 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
.container {
    max-width: 1176px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-header{
    padding-top: 41px;
}
.site-nav{
    display: flex;
    margin-bottom: 140px;
}
.site-logo{
    margin-right: 175px;
}
.site-logo a{
    display: block;
}
.site-nav-list{
    font-weight: 500;
    width: 815px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.site-nav-list a{
    text-decoration: none;
    color: #373737;
}
.site-nav-item a{
    position: relative;
}
.site-nav-item a::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #717CFF;
    height: 3px;
}
.site-nav-item a:hover::after{
    width: 100%;
}
.nav-btn{
    padding: 9px 32px 13px 35px;
    border: 2px solid #717CFF;
    border-radius: 11px;
    cursor: pointer;
}
.nav-btn:hover{
    border: 2px dashed;
    border-color: red;
}

.help{
    display: flex;
}
.help-title{
    font-size: 56px;
    line-height: 66px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #2F2F2F;
}
mark{
    background-color: #ffffff;
    color: #717CFF;
}
.article{
    margin-bottom: 116px;
}
.help-description{
    color: #7D7D7D;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}
.apply{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    padding: 12px 34px;
    background-color: #717CFF;
    border-radius: 11px;
    
}
.apply:hover.apply img{
    transform: translateX(10px);
}
.apply img{
    transition: ease 0.3s;
    margin-left: 34px;
}

.help-right{
    background: url(../images/header-section/student-woman.png) no-repeat;
    width: 540px;
    height: 565px;
    position: absolute;
    top: 222px;
    right: 0;
}
.help-icons{
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}
.help-icons a:not(:last-child){
    margin-right: 25px;
}

/* Featured university */
.universities{
    padding-top: 55px;
    background-color: #fafafa;
    padding-bottom: 105px;
}
.university-title{
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-bottom: 95px;
}
.universities-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.universities-images a{
    display: block;
    transition: ease-in-out 1s;
}
.universities-images a:hover{
    transform: rotate(360deg);
}

/* Services section */
.services{
    padding-top: 122px;
    padding-bottom: 126px;
}
.section-titles{
    width: 850px;
    margin: 0 auto;
    text-align: center;
}
.section-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    margin-bottom: 25px;
    margin: 0;
    margin-bottom: 25px;
}
.section-description{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    margin: 0;
}
.service{
    margin-bottom: 110px;
}



.services-card-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 52px;
    justify-content: center;
    margin: 0;
}
.card-service{
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 29px 17px 35px 31px;
    background-color: #ffffff;
    width: 344px;
    border: 1px solid #ffff;
    transition: ease 0.3s;
}
.card-service:hover{
    border-top: 1px groove red;
    border-bottom: 1px groove red;
}
.card-service::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
}
.services-card-item{
    list-style-type: none;
}
/* .services-card-item:not(:last-child){
    margin-right: 47px;
} */
.card-service-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin-bottom: 9px;
}
.card-service-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(55, 71, 79, 0.721569);
    margin-bottom: 25px;
}
.learn-more{
    display: flex;
    text-decoration: none;
}
.learn-more-text{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #717CFF;
    margin-right: 20px;
}
.learn-more-text-service{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #717CFF;
    margin-right: 20px;
}
.counselling::before{
    background: url(/images/services/counselling.png);
}
.admission::before{
    background: url(/images/services/admission.png);
}
.visa::before{
    background: url(/images/services/visa.png);
}
.accomodation::before{
    background: url(/images/services/accomodation.png);
}
.departure::before{
    background: url(/images/services/departure.png);
}

/* News Section */
.news-section{
    padding-top: 102px;
    padding-bottom: 124px;
    background-color: #FAFAFA;
}
.news{
    margin-bottom: 119px;
}
.news-card-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 146px;
}
.news-card-item:not(:last-child){
    margin-right: 52px;
}
.card-news a{
    display: block;
}
.news-card-item{
    list-style-type: none;
    width: 344px;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}
.news-description{
    padding: 28px 27px 62px 26px;
    background-color: #ffffff;
}
.news-date{
    display: flex;
}
.news-date::before{
    content: "";
    background: url(/images/news/icon.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
.news-join{
    display: flex;
    justify-content: center;
}
.join{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    padding: 12px 34px;
    background-color: #717CFF;
    border-radius: 11px;
}
.join:hover.join img{
    transform: translateX(10px);
}
.join img{
    transition: ease 0.3s;
    margin-left: 42px;
}

.events-section{
    padding-top: 98px;
    padding-bottom: 140px;
}
.events{
    margin-bottom: 100px;
}

.events-card-list{
    display: flex;
    margin: 0;
    padding: 0;
    
}
.card-events{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 29px 31px;
}
.card-events:not(:last-child){
    margin-right: 47px;
}
.events-card-item{
    list-style-type: none;
}
.card-events-header{
    display: flex;
    margin-bottom: 28px;
}
.card-events-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 76px;
    border-radius: 11px;
    padding: 6px 22px;
    background-color: lightblue;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #717CFF;
    margin-right: 19px;
}
.card-events-date::after{
    content: "Dec";
    background-color: lightblue;
    color:#717CFF;
}
.card-events-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    margin: 0;
    color: #37474F;
}
.card-events-para{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin: 0;
}
.card-events-info-time{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.card-events-time{
    display: flex;
    margin: 0;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
}
.card-events-time::before{
    content: "";
    margin-right: 10px;
    background: url(/images/news/time.png) no-repeat;
    width: 21px;
    height: 21px;
}



/* Countries */
.countries-section{
    padding-top: 82px;
    padding-bottom: 110px;
    background-color: #FAFAFA;
}
.countries{
    margin-bottom: 77px;
}
.countries-image-list{
    display: flex;
    padding: 0;
    margin: 0;
}
.countries-item{
    list-style-type: none;
    width: 348px;
}
.countries-item:not(:last-child){
    margin-right: 46px;
}
.countries-item img{
    border-radius: 29px;
    margin-bottom: 27px;
}
.countries-item a{
    display: block;
}
.countries-name{
    margin: 0;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
    margin-bottom: 11px;
}
.countries-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
}

/* Testimonial */
.testimonial-section{
    padding-top: 115px;
    padding-bottom: 100px;
}
.testimonial{
    margin-bottom: 142px;
}
.testimonial-list{
    display: flex;
    padding: 0;
}
.testimonial-header{
    display: flex;
    margin-bottom: 30px;
}
.testimonial-header-description{
    margin-left: 28px;
}
.testimonial-item{
    list-style-type: none;
    width: 503px;
    padding: 45px 34px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
}
.testimonial-item:not(:last-child){
    margin-right: 61px;
}
.members-name{
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin: 0;
    margin-bottom: 5px;
}
.members-job{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
    margin: 0;
}
.testimonial-members-description{
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
    margin: 0;
}

/* Dreams Section */
.dreams-section{
    padding-top: 92px;
    padding-bottom: 74px;
    background-color: #FAFAFA;
}
.dream-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dream-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
}

/* Site Footer */
.site-footer{
    padding-top: 64px;
    background-color: #717CFF;
}
.footer-list-item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.footer-list-item a{
    text-decoration: none;
    color: #ffff;
    margin-bottom: 15px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.made-in{
    color: #fff;
    margin-top: 58px;
}
.footer-icons{
    display: flex;
    align-items: center;
}
.footer-icons a{
    display: block;
    margin: 0;
}
.footer-icons a:not(:last-child){
    margin-right: 20px;
}
.footer-list-item-social{
    display: flex;
    justify-content: flex-end;
    color: #ffff;
}
.social-icons img{
    transition: ease 0.3s;
}
.social-icons img:hover{
    transform: rotate(360deg);
}





.testimonial {
    margin-bottom: 98px;
}

.testimonial__title-wrapper {
    width: 950px;
    margin: 0 auto 142px;
    text-align: center;
}
.testimonial__heading {
    font-size: 37px;
    line-height: 54px;
    margin-bottom: 25px;
}
.testimonial__desc {
    font-size: 22px;
    line-height: 38px;
    color: #7d7d7d;
}
.testimonial__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    justify-content: space-between;
}

.testimonial__item {
    background-color: #ececec;
    padding: 39px 34px 46px;
    border-radius: 29px;
    margin-right: 61px;
}
.testimonial__info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.testimonial__info__img {
    margin-right: 20px;
}
.testimonial__info__heading {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 4px;
    color: rgb(55, 71, 79);
}

.testimonial__info__text {
    font-size: 18px;
    line-height: 21px;
    color: rgba(55, 71, 79, 0.6);
}

.testimonial__info__desc {
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.7216);
}
.slick-slide {
    width: 430px;
    margin-right: 30px;
}


/* Responsive */
@media only screen and (max-width: 768px) and (min-width: 433px){
    .container{
        width: 796px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .site-nav-list{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .site-logo{
        margin-right: 20px;
    }
    .site-nav-item{
        margin-right: 5px;
    }
    
    .help-left{
        display: flex;
        flex-direction: column-reverse;
    }
    .help{
        display: block;
    }
    .article{
        margin: 0 auto;
        margin-bottom: 116px;
        
    }
    .help-right{
        position: static;
        margin-bottom: 40px;
        width: 103%;
    }
    .help-icons{
        padding: 0;
    }
    
    .section-titles{
        width: 80%;
    }
    .services-card-list{
        flex-wrap: wrap;
    }
    .universities{
        width: 105%;
    }
    .news-section{
        width: 105%;
    }
    .news-card-item{
        flex-wrap: wrap;
    }
    .news-card-item:nth-child(2n){
        margin-right:0;
    }
    .countries-section{
        width: 105%;
    }
    .dreams-section{
        width: 105%;
    }
    .dream-wrapper{
        display: block;
    }
    .dream-title{
        text-align: center;
    }
    .apply{
        margin: 0 auto;
    }
    .site-footer{
        width: 105%;
    }
}

@media only screen and (max-width: 432px){
    .container{
        width: 432px;
    }
    .site-nav-list{
        display: block;
        position: absolute;
        width: 70vw;
        height: 90vh;
        margin-top: 18vh;
        position: fixed;
        padding-left: 32px;
        padding-top: 64px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:var(--titles-color);
        transition: top 1s ease;
        transform: translateX(-300px);
        transition: 0.3s;
    }
    .site-logo{
        margin-left: 130px;
        margin-right: 0;
    }
    .site-nav-item:not(:last-child){
        margin-bottom: 20px;
    }
    .site-nav-item a{
        color: #fff;
    }
    .site-nav{
        display: flex;
        position: fixed;
        top: 5%;
        z-index: 15;
    }
    .burger-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 45%;
        right: 85%;
        width: 35px;
        height: 35px;
        margin-top: -17.5px;
        margin-left: -17.5px;
        color: yellow;
    }
    .burger-btn .lines {
        display: block;
        width: 100%;
        height: 4px;
        background: yellow;
        position: relative;
        top: 50%;
        transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
        margin-top: -2px;
    }
    .burger-btn .lines:after,
    .burger-btn .lines:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background: yellow;
        -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .burger-btn .lines:after {
        bottom: -10px;
    }
    .burger-btn .lines:before {
        top: -10px;
    }
    .burger-btn.active .lines {
        background: transparent;
        transform: rotate(90deg);
    }
    .burger-btn.active .lines:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .burger-btn.active .lines:before {
        top: 0;
        transform: rotate(135deg);
    }
    .active{
        transform: translateX(0px);
        background: mediumslateblue;
    }
    .nav-btn{
        margin-top: 170px;
        border: 2px solid darkturquoise;
    }
    .nav-btn:hover{
        border-color: aqua;
    }
    .help{
        margin-top: 20%;
    }
    .help-right{
        position: static;
        width: 100%;
    }
    .help-left{
        display: flex;
        flex-direction: column-reverse;
    }
    .help-icons{
        padding: 0;
        margin-top: 20px;
    }
    .universities{
        width: 109%;
    }
    .universities-images{
        margin-left: 20%;
    }
    .slick-dots{
        width: 60%;
    }
    .section-titles{
        width: 85%;
    }
    .news-card-list{
        display: block;
    }
    .news-section{
        width: 109%;
    }
    .countries-section{
        width: 109%;
    }
    .news-card-item{
       margin: 0 auto;
    }
    .news-card-item:not(:last-child){
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .footer-list{
        display: block;
        text-align: center;
    }
    .dreams-section{
        width: 109%;
    }
    .site-footer{
        width: 109%;
    }
    .footer-icons{
        justify-content: center;
    }
    .dream-wrapper{
        display: block;
    }
}

